body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
}
#u244 {
  position:absolute;
  left:0px;
  top:25px;
  width:359px;
  height:45px;
  font-size:15px;
  text-align:left;
}
#u245 {
  position:absolute;
  left:40px;
  top:14px;
  width:317px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:571px;
}
#u246 {
  position:absolute;
  left:0px;
  top:70px;
  width:359px;
  height:570px;
}
#u247 {
  position:absolute;
  left:2px;
  top:277px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u248 {
  position:absolute;
  left:160px;
  top:81px;
  width:180px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u250 {
  position:absolute;
  left:0px;
  top:105px;
  width:359px;
  height:70px;
}
#u251 {
  position:absolute;
  left:2px;
  top:27px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u252 {
  position:absolute;
  left:15px;
  top:120px;
  width:64px;
  height:16px;
  font-size:13px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u254 {
  position:absolute;
  left:100px;
  top:120px;
  width:70px;
  height:16px;
  font-size:13px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:21px;
}
#u256 {
  position:absolute;
  left:15px;
  top:145px;
  width:239px;
  height:20px;
  font-size:13px;
  color:#6B6B6B;
}
#u257 {
  position:absolute;
  left:0px;
  top:2px;
  width:239px;
  white-space:nowrap;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u258 {
  position:absolute;
  left:0px;
  top:175px;
  width:359px;
  height:70px;
}
#u259 {
  position:absolute;
  left:2px;
  top:27px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u260 {
  position:absolute;
  left:15px;
  top:190px;
  width:64px;
  height:16px;
  font-size:13px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u262 {
  position:absolute;
  left:100px;
  top:190px;
  width:70px;
  height:16px;
  font-size:13px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:21px;
}
#u264 {
  position:absolute;
  left:85px;
  top:215px;
  width:239px;
  height:20px;
  font-size:13px;
  color:#6B6B6B;
}
#u265 {
  position:absolute;
  left:0px;
  top:2px;
  width:239px;
  white-space:nowrap;
}
#u266_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:63px;
  height:23px;
}
#u266 {
  position:absolute;
  left:15px;
  top:215px;
  width:60px;
  height:20px;
  font-size:12px;
}
#u267 {
  position:absolute;
  left:5px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:46px;
}
#u268 {
  position:absolute;
  left:20px;
  top:280px;
  width:320px;
  height:45px;
  font-size:15px;
}
#u269 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:17px;
}
#u270 {
  position:absolute;
  left:20px;
  top:340px;
  width:320px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u273 {
  position:absolute;
  left:10px;
  top:5px;
  width:348px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u274 {
  position:absolute;
  left:200px;
  top:5px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u276 {
  position:absolute;
  left:10px;
  top:35px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:left;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
